.tab {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  color: var(--color-white);
}

.tab:hover {
  cursor: pointer;
}

.tab__index {
  border: 1px solid var(--color-white);
  border-radius: 100%;
  display: inline-flex;
  font-size: var(--text-sm);
  height: 2.25em;
  width: 2.25em;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.tab--active .tab__index {
  background-color: var(--color-blue-extralight);
  border: 1px solid var(--color-blue-extralight);
  color: var(--color-blue);
}

@media (min-width: 48em) {
  .tab {
    display: grid;
    grid-column-gap: var(--space-md);
    grid-template-columns: auto 1fr;
    width: 100%;
  }

  .tab__index {
    grid-row: span 2;
  }

  .tab__eyebrow,
  .tab__text {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: left;
  }

  .tab__eyebrow {
    color: var(--color-blue-light);
    font-size: var(--text-xs);
    margin-bottom: var(--space-xxs);
  }

  .tab__text {
    font-weight: bold;
    font-size: var(--text-sm);
  }
}

/* 
Hide the index number visually, 
but not from screen readers
on small screens
*/
@media (max-width: 48em) {
  .tab__eyebrow,
  .tab__text {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
}