:root {
  --color-white: #FFFFFF;
  --color-blue: #022959;
  --color-blue-light: #ABBCFF;
  --color-blue-extralight: #BEE2FD;
  --color-orange: #FFAF7E;
  --color-pink: #F9818E;
  --color-purple: #483EFF;
  --color-red: #EE374A;
  --color-gray-mid: #9699AA;
  --color-gray-light: #D6D9E6;
  --color-gray-extralight: #F8F9FF;
  --color-bg: #EFF5FF;
  --color-border: var(--color-gray-light);

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;

  --space-unit: 1rem;
  --space-xxs:  calc(0.25 * var(--space-unit));
  --space-xs:   calc(0.375 * var(--space-unit));
  --space-sm:   calc(0.75 * var(--space-unit));
  --space-md:   calc(1 * var(--space-unit));
  --space-lg:   calc(1.5 * var(--space-unit));
  --space-xl:   calc(2 * var(--space-unit));
  --space-xxl:  calc(3.25 * var(--space-unit));

  --border-radius: 10px;
}

@font-face {
  font-family: Ubuntu;
  src: url('assets/fonts/Ubuntu-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Ubuntu;
  src: url('assets/fonts/Ubuntu-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url('assets/fonts/Ubuntu-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-size: var(--text-md);
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
}

p {
  margin-block-start: 0;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

button {
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--text-md);
  font-weight: 500;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: 0;
  box-shadow: none;
  border-radius: 8px;
  padding: var(--space-md) var(--space-lg);
}

button:hover {
  cursor: pointer;
}